<table cellspacing="0" cellpadding="0" style="caret-color: rgb(34, 34, 34); color: rgb(34, 34, 34); font-size: 12.800000190734863px; font-family: Verdana, Helvetica, sans-serif;">
    <tbody>
       <tr>
          <td width="140" valign="middle" style="font-family: Verdana; margin: 0px; width: 140px; padding: 0px; text-align: center; vertical-align: middle;">
             <img alt="Photograph" src="https://www.gravatar.com/avatar/8aa32faf5f4b9f2778d3ac86b6de75d4?s=400" border="0" width="100" height="100" class="CToWUd" style="width: 100px; height: 100px; border-top-left-radius: 50px; border-top-right-radius: 50px; border-bottom-right-radius: 50px; border-bottom-left-radius: 50px; border: 0px;">
          </td>
          <td valign="top" style="font-family: Verdana; margin: 0px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: rgb(237, 90, 36); padding: 0px; vertical-align: top;">
             <table cellspacing="0" cellpadding="0" style="font-family: Verdana, Helvetica, sans-serif;">
                <tbody>
                   <tr>
                      <td valign="top" style="font-family: Verdana; margin: 0px; padding: 0px 0px 6px; vertical-align: top;"><strong><span style="color: rgb(237, 90, 36); font-size: 14pt; font-style: italic;">Manh Tien, Hoang (James)</span></strong><br><span style="color: rgb(237, 90, 36); font-size: 10pt;">Dad, Backend Developer, Solution Architecture, System Admin</span></td>
                   </tr>
                   <tr>
                      <td valign="top" style="font-family: Verdana; margin: 0px; padding: 0px 0px 6px; line-height: 18px; vertical-align: top;"><span style="font-size: 10pt;">email: <a href="mailto:tienhm.0202@gmail.com" target="_blank" style="color: rgb(17, 85, 204);">tienhm.0202@gmail.com</a><br></span><span style="font-size: 10pt;">skype: tien_hm<span style="font-size: 10pt;"> | </span></span><span style="font-size: 10pt;">mobile: +84 916 945 368</span></td>
                   </tr>
                </tbody>
             </table>
          </td>
       </tr>
       <tr>
          <td width="140" valign="middle" style="font-family: Verdana; margin: 0px; width: 140px; padding-top: 6px; padding-left: 0px; padding-right: 0px; text-align: center; vertical-align: middle;">
             <a href="https://facebook.com/zozo.0202" target="_blank" style="color: rgb(17, 85, 204);">
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_color-512.png" alt="Facebook icon" border="0" width="16" style="border: 0px; height: 16px; width: 16px;"></a> 
             <a href="https://twitter.com/tienhm0202" target="_blank" style="color: rgb(17, 85, 204);">
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_color-512.png" alt="Twitter icon" border="0" width="16" style="border: 0px; height: 16px; width: 16px;"></a> 
             <a href="https://www.linkedin.com/in/tienhm/" target="_blank" style="color: rgb(17, 85, 204);">
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png" alt="LinkedIn icon" border="0" width="16" style="border: 0px; height: 16px; width: 16px;"></a>
             <a href="https://plus.google.com/tienhm0202" target="_blank" style="color: rgb(17, 85, 204);">
                <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/google_circle_color-512.png" alt="Google Plus icon" border="0" width="16" style="border: 0px; height: 16px; width: 16px;"></a>
          </td>
          <td valign="middle" style="font-family: Verdana; margin: 0px; padding: 6px 0px 0px; vertical-align: middle;"><a href="https://tienhm.me" target="_blank" style="color: rgb(237, 90, 36); font-size: 10pt;">https://tienhm.me</a></td>
       </tr>
    </tbody>
 </table>